/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 /* PREAMBLE */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define MAC		0
#define WIN		1
#define NAVNUM		2
#define SYMBOL		3
#define FUNCTION	4
#define MACSHORT	5
#define WINSHORT	6

 /* ALIASES */

#define	XXX	&none
#define	___	&trans
#define	PRINT	&kp LG(LS(S))
#define	TAG	&kp RA(N3)
#define	XIV	&kp LS(F2)
#define	ZOOMIN	&kp LG(PLUS)
#define ZOOMOUT	&kp LG(MINUS)
#define TILDE	&kp LS(NUHS)

 /* BEHAVIOURS */

&mt {
    hold-while-undecided;
};

/ {
 	behaviors {
	
     		ht: hold_tap {
       			compatible = "zmk,behavior-hold-tap";
			label = "hold_tap";
          		#binding-cells = <2>;
            		flavor = "hold-preferred";
            		tapping-term-ms = <200>;
            		quick-tap-ms = <150>;
            		bindings = <&kp>, <&kp>;
		};
		
		hm: homerow_mods {
            		compatible = "zmk,behavior-hold-tap";
            		label = "HOMEROW_MODS";
            		#binding-cells = <2>;
            		tapping-term-ms = <200>;
            		quick-tap-ms = <199>;
            		flavor = "tap-preferred";
            		bindings = <&kp>, <&kp>;
			retro-tap;
		};
		
		macswap: mac_swapper {
            		compatible = "zmk,behavior-tri-state";
            		label = "MACSWAP";
            		#binding-cells = <0>;
            		bindings = <&kt LCMD>, <&kp TAB>, <&kt LCMD>;
            		ignored-key-positions = <1>;
        	};

		winswap: win_swapper {
            		compatible = "zmk,behavior-tri-state";
            		label = "WINSWAP";
            		#binding-cells = <0>;
            		bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
            		ignored-key-positions = <1>;
        	};
        };
	
/* KEYMAP */
	
	keymap {
		compatible = "zmk,keymap";

		mac_layer {

			label = "MAC";
			bindings = <
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮           ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮ 
     &kp Q          &kp W          &kp F          &hm LSHIFT P   &kp B                      &kp J          &hm RSHIFT L   &kp U          &kp Y          &kp QUOT
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤           ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤     
     &kp A          &kp R          &kp S          &kp T          &kp G                      &kp M          &kp N          &kp E          &kp I          &kp O
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤           ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   
     &hm LCTRL Z    &hm RALT X     &kp C          &kp D          &kp V                      &kp K          &kp H          &kp COMMA      &kp DOT        &kp FSLH
// ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯           ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯   
//                               ╭──────────────┬──────────────┬──────────────╮           ╭──────────────┬──────────────┬──────────────╮
                                 &mt LCMD ENTER  &lt NAVNUM SPACE  &lt MACSHORT TAB         &lt FUNCTION BSPC  &lt SYMBOL SPACE  &hm LCTRL DEL
//                               ╰──────────────┴──────────────┴──────────────╯           ╰──────────────┴──────────────┴──────────────╯
			>;
		};
		
		win_layer {

			label = "WIN";
			bindings = <
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮           ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮ 
     &kp Q          &kp W          &kp F          &hm LSHIFT P   &kp B                      &kp J          &hm RSHIFT L   &kp U          &kp Y          &kp QUOT
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤           ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤     
     &kp A          &kp R          &kp S          &kp T          &kp G                      &kp M          &kp N          &kp E          &kp I          &kp O
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤           ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤   
     &hm LGUI Z     &hm RALT X     &kp C          &kp D          &kp V                      &kp K          &kp H          &kp COMMA      &kp DOT        &kp FSLH
// ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯           ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯   
//                               ╭──────────────┬──────────────┬──────────────╮           ╭──────────────┬──────────────┬──────────────╮
                                 &mt LCTRL ENTER  &lt NAVNUM SPACE  &lt WINSHORT TAB        &lt FUNCTION BSPC  &lt SYMBOL SPACE  &hm LGUI DEL
//                               ╰──────────────┴──────────────┴──────────────╯           ╰──────────────┴──────────────┴──────────────╯
			>;
		};

		navnum_layer {
		
			label = "NUMBER";
			bindings = <
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮           ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮ 
     XXX            XXX            &kp HOME       &kp END        &kp PG_UP                  XXX            &kp N7         &kp N8         &kp N9         &kp EQUAL
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤           ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
     &kp ESC        &kp LEFT       &kp UP         &kp RIGHT      &kp PG_DN                  &kp PLUS       &kp N4         &kp N5         &kp N6         &kp MINUS
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤           ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
     XXX            XXX            &kp DOWN       &kp BSPC       &kp DEL                    &kp ASTRK      &kp N1         &kp N2         &kp N3         &kp FSLH
// ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯           ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯  
//                               ╭──────────────┬──────────────┬──────────────╮           ╭──────────────┬──────────────┬──────────────╮
                                   ___            ___            ___                        &kp BSPC       &kp N0         &kp DOT
//                               ╰──────────────┴──────────────┴──────────────╯           ╰──────────────┴──────────────┴──────────────╯
			>;
		};

		symbol_layer {
		
			label = "SYMBOL";
			bindings = <
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮           ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮ 
     &kp EXCL       &kp AT         &kp HASH        &kp DLLR      &kp PRCNT                  &kp CARET      &kp AMPS       &kp ASTRK      &kp PLUS       &kp EQUAL
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤           ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
     &kp SEMI       &kp COLON      &kp LPAR        &kp RPAR      XXX                        &kp PLUS       &kp LBRC       &kp RBRC       &kp UNDER      &kp MINUS
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤           ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
     &kp PIPE       TILDE          &kp LT          &kp GT        XXX                        XXX            &kp LBKT       &kp RBKT       TAG            &kp BSLH
// ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯           ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯  
//                               ╭──────────────┬──────────────┬──────────────╮           ╭──────────────┬──────────────┬──────────────╮
                                   ___            ___            ___                        ___            ___            ___
//                               ╰──────────────┴──────────────┴──────────────╯           ╰──────────────┴──────────────┴──────────────╯

			>;
		};


		function_layer {

			label = "FUNCTION";
			bindings = <
// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮           ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮ 
     &kp F1         &kp F2         &kp F3         &kp F4         ZOOMIN                     &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤           ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
     &kp F5         &kp F6         &kp F7         &kp F8         ZOOMOUT                    XXX            &kp C_MUTE     &kp C_VOL_DN   &kp C_VOL_UP   XIV 
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤           ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
     &kp F9         &kp F10        &kp F11        &kp F12        XXX                        &tog WIN       XXX            XXX            XXX            &bt BT_CLR
// ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯           ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯  
//                               ╭──────────────┬──────────────┬──────────────╮           ╭──────────────┬──────────────┬──────────────╮
                                   XXX            XXX            XXX                        XXX            XXX            XXX 
//                               ╰──────────────┴──────────────┴──────────────╯           ╰──────────────┴──────────────┴──────────────╯
			>;
		};

		mac_shortcut_layer {

			label = "MACSHORT";
			bindings = <

// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮           ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮ 
     &kp LG(Q)      XXX            &kp LG(F)      &kp CAPS       &macswap                   &kp PSCRN      &kp CAPS       XXX            XXX            &C_PWR
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤           ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
     &kp LG(A)      &kp LG(R)      &kp LG(S)      &kp LG(T)      &kp LG(N)                  XXX            XXX            XXX            XXX            XXX
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤           ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
     &kp LG(Z)      &kp LG(X)      &kp LG(C)      &kp LG(V)      &kp LS(LG(Z))              XXX            XXX            XXX            XXX            XXX
// ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯           ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯  
//                               ╭──────────────┬──────────────┬──────────────╮           ╭──────────────┬──────────────┬──────────────╮
                                   XXX            XXX            XXX                        XXX            XXX            XXX 
//                               ╰──────────────┴──────────────┴──────────────╯           ╰──────────────┴──────────────┴──────────────╯
			>;
		};

		win_shortcut_layer {

			label = "WINSHORT";
			bindings = <

// ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮           ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────╮ 
     &kp LA(F4)     XXX            &kp LC(F)      &kp CAPS       &winswap                   PRINT          &kp CAPS       XXX            XXX            &kp LG(X)
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤           ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
     &kp LC(A)      &kp LC(R)      &kp LC(S)      &kp LC(T)      &kp LC(N)                  XXX            XXX            XXX            XXX            XXX
// ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤           ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┤
     &kp LC(Z)      &kp LC(X)      &kp LC(C)      &kp LC(V)      &kp LC(Y)                  XXX            XXX            XXX            XXX            XXX
// ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯           ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────╯  
//                               ╭──────────────┬──────────────┬──────────────╮           ╭──────────────┬──────────────┬──────────────╮
                                   XXX            XXX            XXX                        XXX            XXX            XXX 
//                               ╰──────────────┴──────────────┴──────────────╯           ╰──────────────┴──────────────┴──────────────╯  
			>;
		};

	};
};
